h1 {
  color: white;
  font: italic small-caps bold 70px Arial, Helvetica sans-serif;
  text-shadow: 2px 2px #eb8383;
  text-align: center;
  margin: 0 auto;
  background-color: rgba(133, 124, 78, 0.9);
  box-shadow: 5px 10px;
  clear: bottom;
  padding: 3px 0px 10px 0px;
}

.h1 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Armata', sans-serif;
  text-shadow: 2px 2px #eb8383;
  font-size: 3em;
}

h3 {
  font-family: 'Armata', sans-serif;
  text-shadow: 2px 2px #eb8383;
  font-size: 3em;
  font-weight: bold;
  color: white;
  background-color: hsla(49, 21%, 53%, 0.9)	;
  display: inline-block;
  max-width: 700px;
  max-height: 300px;
  padding: 10px 50px 10px 50px;
  margin-top: 10px;
}

/* font: font-style font-variant font-weight font-size/line-height font-family; */

body {
  background-color: hsla(26, 100%, 50%, 0.3);
}

.salmon img {
  margin: 0 auto;
  width: 50%;
  height: auto;
  padding: 50px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

ul {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 50px;
  font-family: sans-serif;
}

.container {
  display: flex;
}

.menu {
  background: hsla(49, 21%, 53%, 0.9)	;
  text-align: center;
  margin: 10px;
  margin-bottom: 40px;
  padding: 10px;
}

.menu span a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-family: 'Armata', sans-serif;
  text-shadow: 1px 1px #eb8383;
}

.menu span a:hover {
  background-color: hsla(48, 20%, 34%, 0.9);
}

/*
Google font for highlights
sans-serif web font for data (arial, verdana, helvetica)
serif web font (georgia, times, etc.) for text
*/

table, th, td {
  border: .5px solid gray;
  margin: 0 auto;
  text-align: center;
}

tr:hover {
  background-color: #eee;
}

div button {
  margin: 20 auto;
  padding: 5px;
}

.appendPic {
  text-align: center;
  /* border: 1px solid hsla(49, 21%, 53%, 0.9)	; */
}

.appendPic img {
  border: 2.5px solid hsla(49, 21%, 53%, 0.9)	;
  clear:both;
}